.Game {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 37vw;
    margin: 0 auto;
    position: relative;
}

.Game .Game__cell {
    background: #ececec;
    flex: 0 0 25%;
    align-items: stretch;
    text-align: center;
    font-size: 32px;
    line-height: 9vw;
}

.Game .Game__cell.empty {
    background: #fff;
}

.Game .Game__cell:hover {
    background: #e0e0e0;
    cursor: pointer;
}

.Game .Game__cell.empty:hover {
    background: #fff;
    cursor: default;
}

@media screen and (max-width: 992px) {
    .Game {
        max-width: 60vw
    }
    .Game .Game__cell {
        font-size: 26px;
        line-height: 16vw;
    }
}


@media screen and (max-width: 768px) {
    .Game {
        max-width: 80vw
    }
    .Game .Game__cell {
        line-height: 20vw;
    }
}